<div class="container-fluid">
  <div class="panel panel-danger">
    <div class="panel panel-heading"><span class="glyphicon glyphicon-book"></span> Issue Book</div>
    <div class="panel panel-body">

    {{#if res}}
     <ul class="list-group">
       <li class="list-group-item list-group-item-success">{{res}}</li>
     </ul>
    {{/if}}  

    <form id='issuebookform' {{action 'issueBook' on='submit' class="form-group"}}>
      <div class="form-group">
        <label for="title">Title:</label>
        {{input value=title key-up=(action 'resetResult') class="form-control" id="title"}}
      </div>
      <div class="form-group">
        <label for="username">User:</label>
        {{input value=name key-up=(action 'resetResult') class="form-control" id="username"}}
      </div>
      <button type="submit" class="btn btn-danger pull-right">Submit</button>
    </form>

    </div>
  </div>
</div>