<div class="container-fluid">
<div class="well">
<div class="thumbnail">
      <a>
        <img src='/LMS/images/{{dat.role}}.jpg'>
      </a>
 </div>
 <h3 class="btn btn-success">User Name: {{dat.name}}</h3>
</div>
</div>
