<div class="panel panel-info">
<div class="panel panel-heading"><span class="glyphicon glyphicon-th-list"></span> List of Users</div>
<div class="panel panel-body">
  <div class="container-fluid">
    <table class="table table-hover">
      <thead class=" thead-default">
       <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Role </th>
       </tr> 
      </thead>
      <tbody>
       {{#each users as |userd|}}
        <tr>
         <td>{{userd.id}}</td>
         <td>{{userd.username}}</td>
         <td>{{userd.role}}</td> 
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div> 
</div>
</div>
